<nav>

  <ul>
    <li>
      <a href="/"></a>
    </li> 

    <li>
      <a href="/"> Home </a>
    </li> 

    <li>
      <a href="/plants"> Plants </a>
    </li>

    <li>
      <a href="/key"> Key </a>
    </li>
    
    <li>
      <a href="/key"></a>
    </li>

  </ul>

</nav>