<h2>Plant comments</h2>
<form class="form" action="/plants/{{id}}/edit" method="post">
  <label for="comments" class="form-item">
    Comments:
    <input type="text" name="comments" value="{{comments}}">
  </label>
</form>