<form class="form" action="/plants/{{id}}/edit" method="post">
  <img src="{{image}}" alt=" ">
  <label for="comments" class="form-item">
    Comments:
    <input type="text" name="comments" value="{{comments}}">
  </label>
</form>