<div id="homepage">
  <h1>!Outdoor Plants</h1>
  <h2 class="site-intro">
    Fancy bringing the outdoors indoors? 
  </h2>
  <p class="site-intro">
    Welcome to our green-fingered site! Whether you know your Lady Slipper Orchids from your Snake Plants, or you're still trying to figure out if you actually need indoor plants in your life, this is the site for you!
  </p>
  <p class="site-intro">
    To find out what it takes to grow and look after different indoor plant, explore the skill levels.
  </p>  
</div>
<div id="category-wrap">
  <div class="skill-level-button">
    <img src="" alt="">
    <h2>Beginner</h2>
  </div>
  <div class="skill-level-button">
    <img src="" alt="">
    <h2>Intermediate</h2>
  </div>
  <div class="skill-level-button">
    <img src="" alt="">
    <h2>Advance</h2>
  </div>
</div>






