<div id="plant-details">
  <h2>Plant details</h2>
  <img class="plant-img" src="" alt="">
  <h3>{{}}</h3>
  <div>
    <p>
      Scientific name:
    </p>
  </div>
  <div>
    <p>
      Skill level:
    </p>
  </div>
  <div>
    <p>
      Water:
    </p>
  </div>
  <div>
    <p>
      Sunlight:
    </p>
  </div>
  <div>
    <p>
      Temperature & humidity:
    </p>
  </div>
  <div>
    <p>
      Cost:
    </p>
  </div>
  <div>
    <p>
      Care instructions:
    </p>
  </div>
</div>