body {
  font-family: 'Poppins';
  color: #284B63;
  background-color: #E5FCF5;
  margin: auto;
  width: 50%;
  
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 65px;
  color: #153243;
}

h2 {
  font-size: 35px;
}

nav a {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  text-decoration: none;
  margin: none;
  font-size: 40px;
  display: block;
  text-align: center;
}

nav a:hover {
  text-decoration: underline;
  color: #FF6663;
}


a {
  color: #153243;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

li {
  float: left;
  text-align: center;
  width: 5%%;
  margin-top: 20px;
}

li a {
  display: block;
}

img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 25px;
}