body {
  font-family: 'Poppins';
  background-color: #E5FCF5;
  margin: auto;
  width: 50%;
}

nav a {
 text-decoration: none;
 margin: none;
 font-size: 25px;
 padding-inline: 20px;
 padding-top: 2cm;
 display: block;
}

a {
  color: #153243;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
}

img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 25px;
}